<a href="https://colab.research.google.com/github/Ale-pool/ALL_PYTHON/blob/main/CURSOMAESTROPART_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# retomemos conceptos importantes de scling
# slicing en cadenas:
palabra = "JavaScript"
#indices   0-1-2-3-4-5-6-7-8-9
palabra[:]
palabra[:3] # me muestra desde el indice 0 sin contarme el 3
palabra[4:10] # me muestra desde el indice 4 contandole hasta el 10, anquela variable no tiene indice 10 no hay problema con el slicing
palabra[0:5]
palabra[0:5] + palabra[5:10] # conctenación

# Una propiedad de las cadenas es que no se pueden modificar. Si intentamos reasignar un carácter, no nos dejará:

# palabra[0] = "C"

# pero con el slicing esto es posible:
palabra = "C" + palabra[1:]
palabra
len(palabra) # me muestra la longitud de la cadena

valores = [1.21,12,23,12,1,45]
valores[0]
valores[4:]
valores[3:6]

[12, 1, 45]

In [43]:
num = [1,2,3,4,5,6,7,8,9,10]
base = [10,20,30,40,50]
lista_general = num +  base
lista_general + [60,70,80,90]


###  las listas son mutables

pares = [0,2,4,5,8,10]
impares = [1,3,5,7,9]
numeros = [pares,impares]
numeros[1:]

pares.append(13)  # formas de agregar elementos a una lista
pares
pares[-1] = 12
pares

# pero si quiero agregar un elemento en una posicion especifica insert()

pares.insert(3,6)
pares
pares.insert(0,1)
pares

# eliminar elementos de una lista remove()
cuentas = [14,5,35,42,85,41,14]
eliminado = cuentas.remove(14)
cuentas.remove(14)

# print(f"el valor elimiando: {cuentas}")

# pop() elimina y devuelve el elemento en una posición especifica
cuentas.pop()
cuentas
cuentas.pop()
cuentas
#############

len(cuentas)
cuentas.pop(0)
cuentas

del cuentas[0]
cuentas

[42]

In [48]:
## ordenar listas sort(), modifica la lisra original

mi_lista = [1, 2, 3, 4, 5,7,6,9,8,10]
mi_lista.sort()
mi_lista
mi_lista.reverse()
mi_lista

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
# continuando con la parte anterior
# miremos este ejercicio
# tenemos una cadena volteada, debemos organizarla

cadena_corrupta = "airotsiH,6.7,aícraG nómaR"

cadena_volteada = cadena_corrupta[::-1]
cadena_volteada

# extrae el nombre y el apellido del alumno y almacenalo en una variable llamda nombre
# Estrae la nota y almacenalo en una variable llamada nota
# extrae la materia y almacenalo en una variable llamada materia
#Genera exactamente la siguiente estructura formateando las anteriores variables en
#una cadena llamada cadena_formateada donde nombre, nota y materia hacen referencia a las variables extraídas:
# {nombre} ha sacado un {nota} en {materia}
# Ejemplo:
# Ramón García ha sacado un 8.1 en Matemáticas
print(cadena_volteada)
nombre = cadena_volteada[0:5] + " "+ cadena_volteada[6:12]
print(nombre)
nota  = cadena_volteada[13:16]
print(nota)

materia = cadena_volteada[17:25]
print(materia)

cadena_formateada = f"{nombre} ha sacado un {nota} en {materia}"
print(cadena_formateada)

Ramón García,7.6,Historia
Ramón García
7.6
Historia
Ramón García ha sacado un 7.6 en Historia

In [ ]:
# ACTIVIDAD DE LISTAS

"""
Dadas dos listas lista1 y lista2 debes realizar diferentes tareas por el orden indicado:
Añade a la lista1 el número 1234 y luego el texto Hola.
Añade a la lista2 el texto Adiós y luego el número 1234.
Genera una lista3 con todos los elementos de la lista1 excepto el último.
Genera una lista4 con todos los elementos de la lista2 excepto el primero y el último.
Genera una lista5 con los elementos de la lista4 más la lista3.
Los nombres de las variables deben ser los que se especifican o el ejercicio no validará. """




lista1 = [1, 12, 123]
lista2 = ["Bye", "Ciao", "Agur", "Adieu"]

# completa el ejercicio
lista1.append(1234)
lista1.append('Hola')
lista1

lista2.append('adios')
lista2.append(1234)
lista3 = lista1[:-1]
lista3
lista4 = lista2[1:-1]
lista4
lista5 = lista4 + lista3
lista5

['Ciao', 'Agur', 'Adieu', 'adios', 1, 12, 123, 1234]

In [ ]:
Listam =  [1,2,4,55,234,23]
Listam[1:]

[2, 4, 55, 234, 23]

In [52]:
cadena = "mi nombre es alexander"
cadena[3:9]
# cade = "alex"
# cade[0:4]
# cade[-1]

'nombre'

In [57]:
# Busqueda en listas index(): Devuelve el índice de la primera ocurrencia de un valor.
lista1 = [1,2,2,4,5,6,7,7]
lista1.index(7)
lista1[7] = 8
lista1

# para verificar si un elemento esta en lista podemos hacerlo de este modo:

if 8 in lista1:
    print("el 8 esta en la lista")
else:
    print("el 8 no esta en la lista")

el 8 esta en la lista

In [68]:
# repeticiones de una lista

nombres = ["alex", "Juliana", "juan", "camila"]
duplicado = nombres * 2
duplicado

# lsitas por comprehension
cuadrados = [x**2 for x in range(100)]  # Crea una lista de cuadrados
cuadrados

# copia de una lista
nuevos_val = valores.copy()
nuevos_val.insert(0,121)
nuevos_val

[121, 1.21, 12, 23, 12, 1, 45]

In [ ]:
# Limpiar todos los elementos de una lista

valores.clear()
valores


# contar elementos -- cuantas veces aparecio ese elemento en la lista
num.append(1)
num.append(1)
num.append(1)
num.count(1)
num